:root
    --c1: #ffffff
    --c2: #84bb4c61
    --c3: #84bb4c
    --c4: #56812a
    --c5: #184b41
    --c6: #2e8977
    --c-bg: var(--c1)
    --c-bgx: var(--c2)

    --c-ui: var(--c3)
    --c-uiX: var(--c4)

    --c-dark: var(--c5)
    --c-darkX: var(--c6)
body.dark
    --c-bg: var(--c5)
    --c-bgx: var(--c6)

    --c-dark: var(--c1)
    --c-darkX: var(--c2)

@font-face
    font-family: din
    src: url('/font/din.otf')

*
    padding: 0
    margin: 0

body
    font-family: 'din'
    font-size: 16px
    background-color: var(--c-bgx)
.box
    display: flex
    &.grid
        flex-wrap: wrap
    &.row
        flex-direction: row
    &.col
        flex-direction: column
.center
    justify-content: center
    text-align: center
.pup
    position: absolute
    &-auto
        position: fixed
.none
    display: none
